<div class="container login-container  background-image" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="row" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>MegaraGoLive</mat-card-title>
            <mat-card-subtitle>S'authentifier</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Nom d'utilisateur" formControlName="username">
                    <mat-error id="requiredUsernameError" *ngIf="loginForm.get('username')?.hasError('required')">
                        Le nom d'utilisateur est obligatoire
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <input id="passwordInput" matInput placeholder="mot de passe" formControlName="password" type="password">
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.get('password')?.hasError('required')">
                        Le mot de passe est
                        <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
                

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" type="button" (click)="authenticate()">Login</button>
            </mat-card-actions>
        </mat-card>

        
    </form>
</div>
